<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
        
<mapper namespace="com.cameldev.mypage.mappers.user.UserMapper"> 

    <insert id="register"> 
        INSERT INTO Member ( 
            memberno
            , ID
            , PW 
            , name 
            , major
            , email
            , lab
            , phone
            , age
            , grade
            , state 
        ) VALUES ( 
            #{memberno} 
            , #{ID}
            , #{PW} 
            , #{name} 
            , #{major}
            , #{email}
            , #{lab}
            , #{phone}
            , #{age}
            , #{grade}
            , #{state} 
        ) 
        </insert> 
        

        <select id="login" resultMap="userVOResultMap">
           SELECT * FROM Member Where ID= #{ID}
        </select>
       
       <resultMap type="com.cameldev.mypage.domain.UserVO" id="userVOResultMap">
		
		<result property="ID" column="ID" />
		<result property="PW" column="PW" />
		<result property="memberno" column="memberno" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="lab" column="lab" />
		<result property="major" column="major" />
		<result property="phone" column="phone" />
		<result property="age" column="age" />
		<result property="grade" column="grade" />
		<result property="state" column="state" />
		
    	</resultMap>
    	
    	<select id="readMember" resultMap="userVOResultMap">
		select *
		from Member
		where ID=#{ID}
	</select>

</mapper>

