<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cameldev.mypage.mappers.article.ArticleMapper">

 <select id="starlist" resultMap="starVOResultMap">
		select n_type, title, name, datetime, noticeno
		from notice
		where noticeno in (select noticeno from star where memberno=#{memberno})
	</select>
       
  <delete id="delete">
   DELETE FROM star
   WHERE noticeno = #{noticeno} </delete>

<insert id="add"> 
   INSERT INTO star (noticeno,memberno)
   VALUES ( #{noticeno} , #{memberno} ) </insert>

       <resultMap type="com.cameldev.mypage.domain.StarVO" id="starVOResultMap">
		
		<result property="n_type" column="n_type" />
		<result property="title" column="title" />
		<result property="memberno" column="memberno" />
		<result property="name" column="name" />
		<result property="datetype" column="datetype" />
		<result property="noticeno" column="noticeno" />
    	</resultMap>


</mapper>